<html>
<body>
<div style="text-align:center;">
	<table class="table" name="tabla">
		<thead>
			<tr>
				<th># Referencia</th>
				<th>Potencia</th>
				<th>Descripcion</th>
				<th>Volor De Importacion</th>
                <th>Mostrar Partes</th>
				<th>Partes Del Motor</th>
                

			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of motores">
				<td>
                    <li>
                    {{item.ref}}
                </li>
            </td>
				<td>
                    <li>
                    {{item.potencia}}
                </li>
            </td>
				<td>    <li>
                    {{item.descripcion}}
                </li></td>
                <td>    <li >
                    $ {{item.valorImportacion}}
                </li></td>
                <td>    <li >
                    <div >
                        <button  class="mat-raised-button" type="submit" (click)="listPartes(item.ref)" >Mostrar Partes</button>
                      </div>
                </li></td>

                <td>    <li >
                    <div >
                        <select name="motor"  class="select-css"  >
                          <option [ngValue]="parte" disabled *ngFor="let parte of partes">{{parte.cantidad}}-{{parte.parte.nombre}}</option>
                          </select>
                      </div>
                </li></td>
              
               
            </tr>
		</tbody>
	</table>
</div>
</body>
</html>